/*This file just contains a set of styling which doesn't quite fit anywhere else*/

body {
	margin: 0px;
	overflow: hidden;
}

h4 {
	display: inline;
}

#optionsButton-set, #optionsButton-more {
	font-size: 36px;
    line-height: 0.5;
	padding-left: 6px;
	margin-top: 4px;
}

#noscriptdisp {
	width: 98%;
	position: fixed;
	background-color: rgba(255, 255, 255, 0.95);
	color: red;
	font-size: 18pt;
	font-weight: bold;
	z-index: 10;
	padding-left: 1%;
	padding-right: 1%;
}

#filebrowser {
	overflow: hidden;
	text-align: left;
	margin-top: 45px; /* TODO investigate this (mdc class seems to be failing) */
}

#maincol {
	height: 100%;
	display: inline-flex;
	flex-direction: column;
	overflow: hidden;
}

#content {
	display: flex;
	flex-grow: 1;
	min-height: 0;
	position: relative;
}

#contextMenu {
	position: absolute;
}

#contextMenu .mdc-menu__items > .mdc-list-item {
	height: 36px;
}

/*
#contextMenu {
	background-color: #fff;
	position: absolute;
	width: 0px;
	height: 0px;
	overflow: hidden;
	z-index: 1000;
}

#contextMenu .optionsItem {
	text-align: left;
} */

:root {
	--mdc-theme-primary: #6200ee;/* #bfdad0; */
	--mdc-theme-secondary: #018786;/* #bfdad0; */
	--mdc-theme-text-primary-on-primary: #000;
	--mdc-theme-text-secondary-on-primary: #fff;
}

#searchinput .mdc-text-field {
	margin-top: 0 !important;
	height: 36px !important;
}

#nav-drawer-sortBar > mdc-select {
	display: inline-block;
	margin: 10px;
}

.mdc-drawer .mdc-list-item {
	height: 36px;
}

#people .mdc-list-item > img {
	margin-left: -8px;
	width: 24px;
}

#modal-generic-add-name .mdc-text-field__label {
	text-transform: capitalize;
}

#nav-drawer-open, #toolBar-menu-button {
	padding: 12px;
	margin-left: 6px;
}

#nav-drawer-open {
	margin-top: 4px;
}
