@media only screen and (max-width: 800px) {
	/* #optionsButton {
		background-color: transparent;
		box-shadow: none;
		margin-top: 5px;
		margin-right: 5px;
	}
	#optionsButton .material-icons.ob-set {
		display: none;
	}
	#optionsButton .material-icons.ob-more {
		display: block;
	}
	#optionsButton * {
		cursor: pointer;
	} */

	#optionsButton-set {
		display: none;
	}

	#toolBar-menu-button {
		display: block;
	}

	#links {
		margin-bottom: 20px;
	}

	#maincol {
		width: 100vw;
	}

	#addressBar-nav-icons #addressBar-arrow-left, #addressBar-nav-icons #addressBar-arrow-right {
		display: none;
	}

	#addressBar-address-box {
		max-width: calc(90% - 195px);
	}

	#search {
		width: 0px;
		background-color: white;
		height: 45px;
		right: 0;
	}

	#search .mdc-text-field__input, #search .mdc-text-field__icon-before {
		opacity: 0;
	}

	#search .mdc-text-field__icon-after {
		/* top: -28px; */
		top: 0;
		font-size: 32px;
		width: 40px;
		height: 40px;
	}

	#searchinput {
		width: 100%;
	}

	#thumbScaleDiv {
		width: calc(100% - 40px);
	}

	#pageNumbers {
		margin-top: 15px;
		margin-bottom: 5px;
	}

	#toolBar-show {
		display: none;
	}

	#sortBar .mdc-icon-toggle {
		margin-top: 2px;
		margin-right: 5px;
	}
}

@media only screen and (min-width: 800px) {
	/* #optionsButton {
		background-color: #afbab5;
		margin-top: 10px;
		margin-right: 15px;
		cursor: default;
	}
	#optionsButton .material-icons.ob-set {
		display: block;
	}
	#optionsButton .material-icons.ob-more {
		display: none;
	} */

	#nav-drawer-open {
		display: none;
	}

	#optionsButton-set {
		display: block;
	}

	#toolBar-menu-button {
		display: none;
	}

	/* #optionsList {
		margin-top: 50px;
		margin-right: 15px;
	}

	.leftcolList {
		height: calc(32vh - 90px);
	} */

	#maincol {
		width: calc(100vw - 240px);
		margin-left: -4px;
	}

	#addressBar-address-box {
		max-width: calc(90% - 300px);
	}

	#search {
		width: calc(10% + 100px);
		background-color: transparent;
		height: 30px;
		right: 5px;
	}

	#searchinput {
		width: 100%;
	}

	#sortBar {
		height: 46px;
	}

	#thumbScaleDiv {
		width: 12%;
	}

	#pageNumbers {
		margin-top: 12px;
	}

	#sortBar .mdc-icon-toggle {
		margin-right: 10px;
		margin-top: 3px;
	}

	#navigationDrawer > #albums, #navigationDrawer > #people {
		height: calc(40vh - 22px);
		overflow-y: auto;
	}

	#navigationDrawer > #links {
		height: calc(20vh - 22px);
		overflow: auto;
	}
}

/* @media only screen and (orientation: landscape) {
	h1 {
		font-size: calc(20px + 4vh);
	}
}

@media only screen and (orientation: portrait) {
	h1 {
		font-size: calc(10px + 4vw);
	}
} */
