#infoColumn {
	width: 0;
	margin-left: -2px;
	overflow: hidden;
	transition: width 0.1s ease-in-out;
}

#infocolumn-thumbdiv {
	position: relative;
	height: 120px;
}

#infocolumn-thumb {
	width: 180px;
	height: 120px;
	object-fit: contain;
}

#infocolumn-thumb-icon {
	font-size: 160px;
	line-height: 120px;
}

.infocolumn-thumb-folder > #infocolumn-thumb {
	height: 0;
}

.infocolumn-thumb-folder::after {
	content: "folder_open";
	font-size: 140px;
	line-height: 80px;
	font-family: "Material Icons";
}

#infocolumn-star {
	width: 20%;
	position: absolute;
	left: 0;
	margin-left: 14%;
	bottom: 0;
	margin-bottom: 3%;
	z-index: 2;
	opacity: 0;
}

#infocolumn-bin {
	width: 30%;
	position: absolute;
	right: 0;
	margin-right: 10%;
	bottom: 0;
	margin-bottom: 2%;
	z-index: 2;
	opacity: 0;
}

#infocolumn-tick {
	width: 30%;
	position: absolute;
	right: 0;
	margin-right: 10%;
	bottom: 0;
	margin-bottom: 2%;
	z-index: 2;
	opacity: 0;
}

#infocolumn-info {
	width: calc(100% - 20px);
	text-align: left;
	font-size: 0.9rem;
	margin: 0 10px;
}

#infocolumn-info tr {
	margin-bottom: 5px;
}

#infocolumn-info th {
	font-size: .875rem;
	letter-spacing: .04em;
	color: var(--mdc-theme-text-secondary-on-background,rgba(0,0,0,.54));
	font-weight: normal;
	text-align: left;
	vertical-align: top;
	width: 40%;
	border-bottom: 5px solid transparent;
}

#infocolumn-info td {
	text-align: left;
	text-transform: capitalize;
	border-bottom: 5px solid transparent;
}

#infocolumn-info-geotag {
	white-space: pre;
	line-height: 4px;
}

#infocolumn-info-geotag > * {
	line-height: 12px;
}

.infocolumn-value {
	display: inline;
}
