#sortBar {
	display: block;
	margin-top: -22px;
	padding-top: 5px;
	position: relative;
	height: 50px;
}

#thumbScaleDiv {
	float: left;
	height: 50px;
	margin-top: -2px;
	margin-left: 20px;
}

#pageNumbers {
	display: inline-block;
}

.pageLink {
	vertical-align: middle;
}

#sortBar .mdc-icon-toggle {
	float: right;
	width: 40px;
	height: 40px;
}

.toggle-on::before {
	opacity: 0.12;
}

.toggle-on::after {
	opacity: 0.16;
}

#sortBar mdc-select {
	float: right;
	margin-right: 10px;
	line-height: 1;
	overflow: hidden;
}

#sortBar mdc-select > .mdc-select {
	margin-top: -4px;
	height: 40px;
}

#sortBar mdc-select .mdc-select__surface {
	height: 42px;
}

#sortbar-viewswitcher {
	float: left;
	height: 36px;
	margin-top: 6px;
	margin-left: 10px;
}

#sortbar-viewswitcher > .mdc-tab {
	min-width: unset;
	padding: 0 2px;
}
