<mat-toolbar color="primary">
		<button mat-icon-button *ngIf="mobileQuery.matches" (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1>{{title}}</h1>
</mat-toolbar>

<mat-sidenav-container>
	<mat-sidenav #sidenav [mode]="mobileQuery.matches ? 'over' : 'side'" [opened]="!mobileQuery.matches">
		Sidenav content
		<!-- TODO https://material.angular.io/components/list/overview with albums -->
	</mat-sidenav>
	
	<mat-sidenav-content>
		<app-files></app-files>
	</mat-sidenav-content>
</mat-sidenav-container>
