body {
	background-color: #daffea;
	margin: 0;
}

#body {
	width: 50%;
	max-width: 1200px;
}

#welcome {
	font-size: 2vh;
}

#form-box {
	margin: auto;
    background: #fff;
}

input {
	text-align: left;
}

#input-cont {
	width: 70%;
	margin-left: 15%;
}

/* #input-cont .input-field.col label {
	left: .25rem;
	margin-top: 2px;
}

#input-cont .input-field label:not(.label-icon).active {
	-webkit-transform: translateY(-8px) scale(0.8);
	transform: translateY(-8px) scale(0.8);
}

#input-cont input[type=checkbox] + label {
	float: unset;
	font-size: 16px;
}

#input-cont input[type=checkbox] + label::before {
	font-size: 20px;
} */

/* #submit-button {
	font-size: 20px;
	text-transform: none;
	width: 38%;
	background-color: darkgrey;
}

#submit-button:hover {
	background-color: grey;
} */

mdc-text > .mdc-text-field--upgraded:not(.mdc-text-field--fullwidth):not(.mdc-text-field--box) {
	margin-top: 0;
}

/* Google and MS styles (not currently used) */

#google-button {
	display: inline-block;
	width: 50%;
	margin-left: 4px;
}

#google-button * {
	cursor: pointer;
}

.abcRioButton {
	background-color: #dd4b39 !important;
	width: 100% !important;
}

#ms-button {
	width: 50%;
	height: 36px;
	margin-left: 4px;
	background-color: #4285f4;
	display: inline-block;
	border-radius: 1px;
	box-shadow: 0 2px 4px 0px rgba(0, 0, 0, .25);
	transition: box-shadow .2s;
	font-size: 13px;
	line-height: 34px;
	color: white;
	cursor: pointer;
}

#ms-button:hover {
	box-shadow: 0 0 3px 3px rgba(66, 133, 244, .25);
}

#ms-icon {
	width: 34px;
	height: 34px;
	float:left;
	background-color: white;
	margin-top: 1px;
	margin-left: 1px;
	background-image: url("../icons/ms-logo.png");
}

#pwforgot {
	float: left;
	width: 190px;
	font-size: 15px;
}

#create {
	float: right;
	width: 160px;
	font-size: 15px;
}

.mdc-text-field {
	width: 240px;
}

#first_name > .mdc-text-field, #last_name > .mdc-text-field {
	width: 120px;
}

@media only screen and (max-width: 800px) {
	#siteHomeLink {
		display: none;
	}

	body {
		overflow: hidden;
	}

	#body {
		margin: 0;
		padding: 0;
	}

	h1 {
		margin: 0;
		position: absolute;
		margin-top: 10px;
		width: 100vw;
		font-size: 6vh;
	}

	#welcome {
		position: absolute;
		margin-top: 70px;
		width: 100vw;
	}

	#form-box {
		width: 100vw;
		height: calc(100vh - 60px);
		padding-top: 60px;
		font-size: 2vh;
	}

	h2 {
		font-size: 6vh;
	}

	h3 {
		font-size: 3vh;
	}
}

@media only screen and (min-width: 800px) {
	#body {
		margin: auto;
		margin-top: 20px;
		padding-top: 2%;
		padding-bottom: 5%;
	}

	#welcome {
		font-size: 16pt;
	}

	#form-box {
		width: 480px;
		padding: 20px;
		box-sizing: border-box;
	}
}
