<!-- HTML Templates specifically for fileserver application -->
<div id="templates-fileserver">
	<template id="template-filebox">
		<div class="fcbox-cont">
			<mdc-checkbox class="filecheckbox"></mdc-checkbox>
		</div>

		<div class="thumbbox">
			<span class="vidlength"></span>

			<i class="filestar material-icons">star</i>
			<i class="filebin material-icons">delete</i>
			<i class="filetick material-icons">check</i>

			<img class="imgthumb imgthumb-loading" />
		</div>

		<br />

		<div class="filename ellipsis"></div>
	</template>

	<template id="template-facebox">
		<div class="face-box-sel-border"></div>
		<img class="imgthumb facethumb imgthumb-loading" />
		<i class="material-icons face-alt">face</i>
		<i class="material-icons face-status"></i>
		<mdc-checkbox class="facecheckbox"></mdc-checkbox>
	</template>

	<template id="template-personbox">
		<a class="filelink">
			<img class="imgthumb facethumb imgthumb-loading" />
			<i class="material-icons face-alt">face</i>
			<p class="filename filelinkname">
				<span class="personbox-name"></span>
				<span class="personbox-count"></span>
			</p>
		</a>
	</template>

	<template id="template-albumsItem">
		<span class="mdc-list-item mdc-ripple-surface">
			<a class="albumListName"></a>
			<!-- <button class="addAlbum mdc-button mdc-button--raised mdc-theme--secondary-bg mdc-theme--secondary mdc-ripple-surface modal-trigger" href="#modal-albums-add" onclick="$('#modal-albums-add-parent').val($(this).attr('data-path') + '/'); $('#modal-albums-add-parentid').val($(this).attr('data-id'));">+</button> -->
			<hover-icon-button onclick="toolBar.showAddModal('album', $(this).parent().attr('data-id'), $(this).parent().attr('data-path'), this).then(function (data) { Album.create(data.parent, data.name); });">add</hover-icon-button>
			<hover-icon-button onclick="let el = this; toolBar.confirmAction('delalb', 'delete album ' + $(this).parent().attr('data-path'), null, this).then(function () { Album.getById($(el).parent().attr('data-id')).delete(); });">clear</hover-icon-button>
			<!-- TODO doesn't seem to work -->
		</span>
	</template>

	<template id="template-peopleGroupItem">
		<extension-panel id="pg1" icon="true">
			<div class="collapsible-header mdc-list-item mdc-ripple-surface" onmouseover="$(this).find('.personListCount').css('opacity', 0);"
			 onmouseout="$(this).find('.personListCount').css('opacity', 1);">
				<span class="people-group-name"></span>
				<span class="personListCount"></span>
				<hover-icon-button onclick="toolBar.showAddModal('person', $(this).parent().attr('data-id'), null, this).then(function (data) { Person.create(data.parent, data.name); });">add</hover-icon-button>
				<hover-icon-button onclick="let el = this; toolBar.confirmAction('delpgroup', 'delete group ' + $(this).parent().find('.people-group-name').text(), null, this).then(function () { PersonGroup.getById($(el).parent().attr('data-id')).delete(); });">clear</hover-icon-button>
			</div>

			<nav class="collapsible-body" style="max-height: 0px; transition: max-height 0.2s ease-in;"></nav>
		</extension-panel>
	</template>

	<template id="template-peopleItem">
		<span class="mdc-list-item mdc-ripple-surface" onmouseover="$(this).find('.personListCount').css('opacity', 0);" onmouseout="$(this).find('.personListCount').css('opacity', 1);">
			<img class="bad-face-thumb" onload="$(this).removeClass('bad-face-thumb');" />
			<i class="material-icons face-thumb-fail">face</i>
			<a class="personListName">
				<span></span>
			</a>
			<span class="personListCount"></span>
			<hover-icon-button onclick="let el = this; toolBar.confirmAction('delperson', 'delete person ' + $(this).parent().find('.personListName > span').text(), null, this).then(function () { Person.getById($(el).parent().attr('data-id')).delete(); });">clear</hover-icon-button>
		</span>
	</template>

	<template id="template-mapInfoWindow">
		<div>
			<h4 class="modal-geotag-map-info-title"></h4>
			<img class="modal-geotag-map-info-thumb" />
			<p class="modal-geotag-map-info-address"></p>
			<div class="modal-geotag-map-info-link-cont">
				<a></a>
			</div>
		</div>
	</template>

	<template id="template-filterItem">
		<li class="filteritem draggable mdc-elevation--z2">
			<span class="filterhandle">🕂</span>
			<mdc-select class="filter-action">
				<option value="I">Include</option>
				<option value="E">Exclude</option>
				<option value="O">Only</option>
			</mdc-select>:

			<mdc-select class="filter-aspect" onchange="filterBar.setValues(this);">
				<option value="*">All</option>
				<!-- <option value="S">Starred</option>
								<option value="D">Deleted</option>
								<option value="P">Person: </option> -->
				<option value="G">Geotag: </option>
				<!-- <option value="T">Tag: </option> -->
				<option value="A">Album: </option>
				<option value="F">Type: </option>
			</mdc-select>
			<mdc-select class="filter-value" style="display: none">
				<option value=""></option>
			</mdc-select>
			<span class="filterclose mdc-icon-toggle material-icons" onclick="$(this).parent().remove();">clear</span>
		</li>
	</template>
</div>


<!-- Move imported contents to the main document -->
<script>
	document.querySelector("#imports").appendChild(document.currentScript.ownerDocument.querySelector("*"));
</script>
