image-modal {
	visibility: hidden;
	position: fixed;
	z-index: 5;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: rgba(0, 0, 0, 0.8);
}

#im-toolbar {
	position: fixed;
	width: 100vw;
	background: rgba(0, 0, 0, 0.6);
	z-index: 5;
}

#im-icons-left {
	float: left;
	margin: 2px;
	margin-left: 20px;
}

#im-icons-right {
	float: right;
	margin: 2px;
	margin-right: 100px;
}

.im-button {
	color: white;
	cursor: pointer;
	background: none;
	border: none;
	width: 60px;
	height: 60px;
	padding: 0;
	margin: 0 10px;
}

.im-button .material-icons {
	font-size: 48px;
	cursor: pointer;
	vertical-align: middle;
}

.im-button .material-icons + .material-icons {
	font-size: 32px;
	margin-left: -32px;
	text-shadow: -2px 0 #000, 0 2px #000, 2px 0 #000, 0 -2px #000;
	vertical-align: bottom;
}

.im-button:active .material-icons {
	font-size: 40px;
}

.im-button:active .material-icons + .material-icons {
	font-size: 26px;
	margin-left: -26px;
}

.im-button:hover {
	color: lightgrey;
}

.im-button:focus {
	outline: none;
}

#im-button-close {
	position: absolute;
	top: 2px;
}

#im-title {
	color: white;
	margin: 6px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}


#im-main {
	position: fixed;
	width: 100vw;
	height: calc(100vh - 64px);
	overflow: hidden;
}

#im-image {
	position: absolute;
	cursor: move;
	margin-top: -96px;
}

.im-image-shown {
	transform: scale(1);
	transition: all .2s ease-out;
}

.im-image-hidden {
	transform: scale(0);
	transition: all .1s ease-in;
}

.im-arrow {
	width: 100px;
	height: 100px;
	background: rgba(0, 0, 0, 0.1);
	border-radius: 50px;
	top: calc(50vh - 20px);
	position: absolute;
	opacity: 0.4;
	cursor: pointer;
	font-size: 100px;
	box-sizing: border-box;
	color: white;
	z-index: 2;
}

#im-arrow-left {
	left: calc(10px + 2%);
	padding-right: 5px;
}

#im-arrow-right{
	right: calc(10px + 2%);
	padding-left: 5px;
}

.im-arrow:hover {
	background: rgba(0, 0, 0, 0.8);
	opacity: 1;
}

@media only screen and (max-width: 800px) {
	#im-toolbar {
		height: 56px;
	}

	#im-icons-left, #im-icons-left {
		display: none;
	}

	#im-button-close, #im-button-menu {
		width: 50px;
		height: 50px;
		top: 3px;
	}

	#im-button-close {
		left: 3px;
	}

	#im-button-close .material-icons, #im-button-menu .material-icons {
		font-size: 24px;
	}

	#im-button-menu {
		position: absolute;
		right: 3px;
	}

	#im-icon-options {
		display: block;
	}

	#im-title {
		font-size: 24px;
		margin: 13px 20px;
		width: calc(100vw - 140px);
	}

	#im-toolbar #toolBar-menu {
		position: absolute;
		top: 4px;
		right: 4px;
	}

	#im-toolbar #toolBar-menu-button {
		color: white;
	}

	#im-main {
		top: 56px;
	}
}

@media only screen and (min-width: 800px) {
	#im-toolbar {
		height: 64px;
	}

	#im-button-close {
		right: 4px;
	}

	#im-button-close .material-icons {
		font-size: 56px;
	}

	#im-button-close:active .material-icons {
		font-size: 48px;
	}

	#im-button-menu {
		display: none;
	}

	#im-icon-options {
		display: none;
	}

	#im-title {
		font-size: 42px;
		margin: 20px;
	}

	#im-main {
		top: 64px;
	}
}
